body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

/* Thick underline */
.underline-title {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding-bottom: 5px;
}
.underline-title::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 10%; /* Adjust the span */
    border-bottom: 4px solid #000;
    transform: translateX(-50%);
    padding: 0 10px;
}

/* Border radius */
.border-radius-10 {
    border-radius: 10px;
}

/* Containers */
.container-content{
    max-width: 1170px;
}

/* Banner */
.container-banner{
    background-image: url('images/banner.png');
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}
.row-banner{
    max-width: 1170px;
}

.container-spotlight{
    background-color: #13bfb10d;
}
/* Spotlight */
.row-spotlight{
    max-width: 1170px;
}

.container-services{
    background-color: #F6F6F6;
}
.container-services .row {
    max-width: 1170px;
}
.service{
    padding: 50px 30px;
    color: #3287C8;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.service i{
    font-size: 35px;
    color: #3287C8;
    opacity: 0.8;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.service h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
.service h4::after {
    content: '';
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 20%;
    border-bottom: 3px solid #3287C8;
    transform: translateX(-50%);
    padding: 0 10px;
}
.service:hover {
    background-color: #3287C8;
    color: #FFFFFF;
}

.service:hover h4::after {
    border-color: #ffffff;
}

.container-calender{
    background-color: #F6F6F6;
}
.container-calender .row {
    max-width: 1170px;
}

/* Responsive padding classes */
.custom-padding {
    padding: 3rem 1rem; /* Default padding */
}

@media (min-width: 576px) {
    /* Small devices (576px and up) */
    .custom-padding {
        padding: 3rem 6rem;
    }
}

@media (min-width: 768px) {
    /* Medium devices (768px and up) */
    .custom-padding {
        padding: 3rem 6rem;
    }
}

@media (min-width: 992px) {
    /* Large devices (992px and up) */
    .custom-padding {
        padding: 3rem 8rem;
    }
}

@media (min-width: 1200px) {
    /* Extra large devices (1200px and up) */
    .custom-padding {
        padding: 3rem 0;
    }
}
