/* Banner */
.container-banner{
    padding: 150px 0;
}

section[data-overlay="true"] {
    position: relative;
}

section[data-overlay="true"]:before {
    content:"";
    position: absolute;
    inset: 0;
    background-color: var(--_overlay);
}
section[data-overlay="true"] .container {
    position: relative;
    z-index: 1;
}

section:has(.bg-image) {
    isolation: isolate;
}
.banner-text[data-colour="true"] > *:not(a) {
    color: var(--_colour);
}